[Unit]
Description=watching your bspwm nodes

[Service]
Type=simple
ExecStart=/usr/local/bin/bspeww_nodes
StandardOutput=journal
StandardError=journal
Restart=on-failure
PrivateTmp=no
Environment=DISPLAY=:0
RestartSec=5

[Install]
WantedBy=default.target
