__pycache__

.config/*
.local/*
.ccls-cache/*

!.config/neofetch
!.config/polybar
!.config/lemonbar
!.config/kitty
!.config/nvim
!.config/htop
!.config/ranger
!.config/zathura
!.config/berry
!.config/sway
!.config/waybar
!.config/yay
!.config/pipewire
!.config/sxhkd
!.config/dunst
!.config/bspwm
!.config/alacritty
!.config/eww
!.config/picom
!.config/rofi
!.config/gtk-*

!.config/fontconfig
.config/fontconfig/conf.d

!.config/fish
.config/fish/completions
.config/fish/conf.d
.config/fish/functions/_*.fish
.config/fish/functions/fisher.fish
.config/fish/fish_variables

!.config/gdb
.config/gdb/*.txt

*.log
*.uuid
*.lock
*.tmp
*.history
*.*vim
*.tar.zst
*.tar.gz

.config/nvim/plugin/packer_compiled.lua

# ignore symlinks used for colorscheme switching
.config/bspwm/bspwmrc-theme
.config/kitty/theme.conf
.config/polybar/theme.ini

.local/bin/eww
.local/bin/pyserial*
.local/bin/bspeww

.config/eww/images/seo.jpg

scripts/bin/*
!scripts/bin/.keep

build
coredumps
