__pycache__

.config/*
.local/*
.ccls-cache/*

!.config/neofetch
!.config/polybar
!.config/lemonbar
!.config/kitty
!.config/nvim
!.config/htop
!.config/ranger
!.config/zathura
!.config/berry
!.config/sway
!.config/waybar
!.config/yay
!.config/pipewire
!.config/sxhkd
!.config/dunst
!.config/bspwm
!.config/alacritty
!.config/eww
!.local/bin

!.config/fish/config.fish
!.config/fish/fish_plugins

*.log
*.uuid
*.lock
*.tmp
*.history

.config/nvim/plugin/packer_compiled.lua

# ignore symlinks used for colorscheme switching
.config/bspwm/bspwmrc-theme
.config/kitty/theme.conf
.config/polybar/theme.ini

.local/bin/diary
.local/bin/eww
.local/bin/pyserial*
.local/bin/bspeww

