[user]
  name = Elliot Wesoff
  email = ewesoff@gmail.com

[diff]
  tool = nvim
[difftool "nvim"]
  cmd = nvim -d -u ~/dotfiles/.config/nvim/init.vim $LOCAL $REMOTE
[mergetool "nvim"]
  cmd = nvim -d -u ~/dotfiles/.config/nvim/init.vim $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

