__pycache__

.config/*
!.config/neofetch
!.config/polybar
!.config/lemonbar
!.config/kitty
!.config/nvim
!.config/htop
!.config/ranger
!.config/zathura
!.config/berry
!.config/sway
!.config/waybar
!.config/yay
!.config/pipewire
!.config/sxhkd
!.config/dunst
!.config/bspwm

.local/*
!.local/bin

*.log
*.uuid

.config/nvim/plugin/packer_compiled.lua

