[user]
  name = Elliot Wesoff
  email = ewesoff@gmail.com

[diff]
  tool = nvimdiff
  guitool = kitty.gui
[difftool]
  prompt = false
  trustExitCode = true
[difftool "nvimdiff"]
  cmd = "nvim -c \"lua require('lazy').load({ plugins = { 'diffview.nvim' }, wait = true })\" -c \"colorscheme catppuccin\" -c \"DiffviewOpen\" -c \"bdelete 1\""
[core]
	autocrlf = input
[init]
	defaultBranch = main
