! .Xresources file for internal x1 display.
! requires higher dpi for default resolution
!
! this file should be auto-symlinked to
! ~/.Xresources via .xinitrc

#include "/home/elliot/code/Xresources-themes/xcolors-nancy.Xresources"

Xcursor.size: 22

Sxiv.background: #000000
Sxiv.foreground: #FFFFFF

