[Unit]
Description=watching your bspwm desktops

[Service]
Type=simple
ExecStart=/usr/local/bin/bspeww
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
WantedBy=default.target
