* { all: unset }

.main {
  font-family: "Noto Sans Mono";
  font-size: 1.2em;
  & > box {
    color: white;
    margin: 1em;
    background: none;
    & > box {
      color: white;
      margin: 1em;
      padding: 1em;
      border: 1px solid white;
    }
  }

  .bspwm-widget {
    .bspwm-win-state {
      label.desktop-name {
        padding: 0 0.5em;
        border: 1px solid #000000;

        &.selected {
          border: 1px solid #FFFFFF;
        }
      }
    }
    .bspwm-win-state-windows {
      margin-left: 3em;
    }
  }
}

.icon-module {
  & > label:first-child {
    // font-size: 1.3em;
  }
}


