@import "./dashboard/eww.scss";
* { all: unset }

.m1 {
  margin: 0.25em;
}
.m2 {
  margin: 0.5em;
}
.m3 {
  margin: 1em;
}
.p1 {
  padding: 0.25em;
}
.p2 {
  padding: 0.5em;
}
.p3 {
  padding: 1em;
}

.main {
  font-family: "Noto Sans Mono";
  font-size: 1.2em;
  & > box {
    color: white;
    margin: 1em;
    background: rgba(0, 0, 0, 0.75);
    & > box {
      color: white;
      margin: 1em;
      padding: 1em;
      border: 1px solid white;
    }
  }

  .bspwm-widget {
    .bspwm-win-state {
      label.desktop-name {
        padding: 0 0.5em;
        border: 1px solid #000000;

        &.selected {
          border: 1px solid #FFFFFF;
        }
      }
    }
    .bspwm-win-state-windows {
      margin-left: 3em;
    }
  }

  label.volume {
    &.muted {
      color: grey;
      text-decoration-line: line-through;
    }
  }
}

.icon-module {
  & > label:first-child {
    // font-size: 1.3em;
  }
}


