! .Xresources file for internal x1 display.
! requires higher dpi for default resolution
!
! this file should be auto-symlinked to
! ~/.Xresources via .xinitrc

Xcursor.size: 22

Sxiv.background: #000000
Sxiv.foreground: #FFFFFF

