ACTION=="add", SUBSYSTEM=="block", KERNEL=="sd[a-z]", ATTRS{busnum}=="*", RUN+="/home/elliot/dotfiles/scripts/udev-blk.fish %E{ACTION} /dev/%k"
ACTION=="remove", SUBSYSTEM=="block", KERNEL=="sd[a-z]", ATTRS{busnum}=="*", RUN+="/home/elliot/dotfiles/scripts/udev-blk.fish %E{ACTION} /dev/%k"
ACTION=="change", SUBSYSTEM=="block", KERNEL=="sd[a-z]", ATTRS{busnum}=="*", RUN+="/home/elliot/dotfiles/scripts/udev-blk.fish %E{ACTION} /dev/%k"
