KERNEL=="card1", ACTION=="change", SUBSYSTEMS=="drm", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/elliot/.Xauthority", RUN+="/bin/sh /home/elliot/dotfiles/scripts/hdmi-hotplug.sh"
