[Unit]
Description=A hand-rolled general system monitoring daemon

[Service]
Type=idle
ExecStart=/usr/local/bin/ellid

[Install]
WantedBy=default.target
